
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("Admin", "Index", "Admin")
<br />
<br />
<form method="post" >
    <table width="300" border="0">
        <tr>
            <td><span class="label label-default">Starting From&nbsp;&nbsp;&nbsp;</span></td>
            <td><span class="label label-default">&nbsp;Going To&nbsp;&nbsp;&nbsp;</span></td>
        </tr>
        <tr>
            <td><select name="starting">
                    <option value="DHAKA">DHAKA</option>
                    <option value="KUAKATA">KUAKATA</option>
                    <option value="BORGUNA">BORGUNA</option>
                    <option value="FARIDPUR">FARIDPUR</option>
                    <option value="KHULNA">KHULNA</option>
                    <option value="GAZIPUR">GAZIPUR</option>
                    <option value="BARISAL">BARISAL</option>
                </select>
            </td>
            <td><select name="ending">
                    <option value="DHAKA">DHAKA</option>
                    <option value="KUAKATA">KUAKATA</option>
                    <option value="BORGUNA">BORGUNA</option>
                    <option value="FARIDPUR">FARIDPUR</option>
                    <option value="KHULNA">KHULNA</option>
                    <option value="GAZIPUR">GAZIPUR</option>
                    <option value="BARISAL">BARISAL</option>
            </select></td>
        </tr>
        <tr>
            <td><span class="label label-default">Departure Date&nbsp;&nbsp;&nbsp;</span></td>
            <td><span class="label label-default">&nbsp;Coach Type&nbsp;&nbsp;&nbsp;</span></td>
        </tr>
        <tr>
           <td>
               <div id="datetimepicker" class="input-append date">
                   <input type="datetime" name="date"></input>
                   <span class="add-on">
                       <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                   </span>
               </div>
               <script type="text/javascript"
                       src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.min.js">
               </script>
               <script type="text/javascript"
                       src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
               </script>
               <script type="text/javascript">
                   $('#datetimepicker').datetimepicker({
                       pickTime: false ,
                       format: 'MM/dd/yyyy',
                       language: 'pt-BR'
                   });
               </script>
            </td>
            <td>
                <select name="type">
                    <option value="AC">AC</option>
                    <option value="NON-AC">NON-AC</option>
                </select>
            </td>
        </tr>
    </table>
    
    <br />
    
 
            <input type="submit" value="Search" class="btn btn-default" />
 
</form>

