
@{
    ViewBag.Title = "Ticket";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<h2>Ticket</h2>
<table>
    <tr>
        <td>
            @ViewBag.Passenger.Name
        </td>
        <td>
            @ViewBag.Passenger.DepartureDate
        </td>
        <td>
    </tr>
</table>

